.narrow_field {
    width: 8rem !important;
    max-width: 8rem !important;
    * {
        max-width: 100%;
    }
}

.abo_field {
    width: 4rem !important;
    max-width: 4rem !important;
    * {
        max-width: 100%;
    }
}
