// Colors
// $o-community-color: #7C7BAD;
// $o-enterprise-color: #714B67;
// $o-enterprise-primary-color: #017E84;

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;
$o-main-text-color: #282f33;

$o-theme-text-colors: (
    "success": #008818,
    "info": #0180a5,
    "warning": #9a6b01,
    "danger": #d23f3a,
    "odoo": $o-brand-odoo,
);

$o-main-link-color: darken($o-brand-primary, 5%) !default;

$o-input-border-required: $o-brand-primary !default;
$link-color: $o-brand-odoo;

$text-muted: #6b6d70;
$border-radius: 0px !default;
