@mixin module-font($family, $type, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url("../fonts/google/#{$family}/#{$family}-#{$type}.ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin module-font-pair($family, $type, $weight) {
    @include module-font("#{$family}", $type, $weight, normal);
    @include module-font("#{$family}", "#{$type}Italic", $weight, italic);
}

@mixin module-font-set($family) {
    @include module-font-pair($family, "Thin", 100);
    @include module-font-pair($family, "ExtraLight", 200);
    @include module-font-pair($family, "Light", 300);
    @include module-font-pair($family, "Regular", 400);
    @include module-font-pair($family, "Medium", 500);
    @include module-font-pair($family, "SemiBold", 600);
    @include module-font-pair($family, "Bold", 700);
    @include module-font-pair($family, "SemiBold", 800);
    @include module-font-pair($family, "Black", 900);
}

@include module-font-set("Kanit");

body {
    font-family: Kanit, "Odoo Unicode Support Noto", "Lucida Grande", Helvetica, Verdana, Arial, sans-serif !important;
}
