$ni-primary-color: #03b0c3;
$ni-primary-dark-color: #4ba8dc;
$ni-primary-darker-color: #005b7e;
$ni-accent-color: #f89b1f;
$ni-accent-light-color: #fdc985;

// =============================================================================
// Override web/src/scss/primary_variables.scss
// =============================================================================

$o-brand-odoo: $ni-primary-color;
$o-brand-primary: $ni-accent-color;
