@mixin x2many-list-sheet-fill($marginTop: 0px) {
    display: block;
    width: auto;
    @include o-form-sheet-negative-margin;
    margin-top: $marginTop;
    border-top-width: 0;

    tr {
        &:first-child > th {
            border: none;
            background-color: #f8f9fa;
        }

        > :first-child {
            @include o-form-sheet-inner-left-padding;

            &.o_handle_cell {
                padding-left: 0.2rem;
            }
        }
        > :last-child {
            @include o-form-sheet-inner-right-padding;
        }
    }
}

.o_notebook_collapse_control {
    float: right;
    margin-right: -8px;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;

    > button.btn {
        font-size: 0.9rem;
    }

    &.no_controller {
        display: none;
    }
}

.o_notebook_collapse {
    margin: 0px var(--notebook-margin-x);
    margin-bottom: 3rem;
    padding: 0;

    .o_notebook_item {
        border-radius: 0px !important;
        border-left: none;
        border-right: none;

        &:first-of-type,
        &:last-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
    }

    .o_notebook_header > button {
        padding: 1rem var(--notebook-padding-x);
        box-shadow: none !important;
        transition: 0.3s ease;
        background-color: #fdfdfd;
        min-height: 48px;

        &:after {
            order: -1;
            margin-left: 0;
            margin-right: 1.5rem;
        }

        .o_notebook_header_info {
            color: $text-muted;
            font-size: 0.875rem;
            font-weight: 400;
            padding-top: 2px;
        }
    }
    .o_notebook_content {
        padding: 1rem var(--notebook-padding-x) 3rem var(--notebook-padding-x);
        background-color: $white;
        box-shadow: inset 0px -3px 10px -4px rgba(black, 0.1);

        > .o_field_widget:not(:first-child) > :first-child.o_field_x2many.o_field_x2many_list {
            @include x2many-list-sheet-fill();
        }
        > .o_field_widget:first-child > :first-child.o_field_x2many.o_field_x2many_list,
        > .o_field_widget:first-child > :first-child.o_field_widget.o_invisible_modifier + .o_field_x2many.o_field_x2many_list,
        .o_horizontal_separator + .o_field_widget > :first-child.o_field_x2many.o_field_x2many_list {
            @include x2many-list-sheet-fill($marginTop: -1rem);
        }

        .tab-content {
            @include o-form-sheet-negative-margin;
            margin-bottom: -3rem;

            > .tab-pane > .o_field_widget > :first-child.o_field_x2many.o_field_x2many_list {
                @include x2many-list-sheet-fill($marginTop: -2.35rem);
            }
        }
    }

    &.row {
        display: flex;

        .o_notebook_item {
            border-radius: 2rem !important;
            box-shadow: 10px 10px 30px #d9d9d9cc, -10px -10px 30px #ffffffaa;
            margin-bottom: 3rem;
            background-color: $white;

            .o_notebook_header > button {
                border-radius: 2rem !important;
                color: $o-brand-primary;
                font-weight: 600;

                &:after {
                    order: 0;
                    margin-left: auto;
                    margin-right: 0rem;
                }
            }

            .o_notebook_content {
                padding: 1rem var(--notebook-padding-x) 1rem var(--notebook-padding-x);
                background-color: $white;
                border-radius: 2rem;
                box-shadow: none;

                @media (min-width: 992px) {
                    .o_inner_group.grid.col-lg-6 {
                        display: block;
                    }
                }
            }
        }
    }
}
