@font-face {
    font-family: "NotoSans";
    src: url("../fonts/report/NotoSansThai-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "NotoSerif";
    src: url("../fonts/report/NotoSerifThai-Regular.ttf") format("truetype");
    font-weight: 400;
}
